<!DOCTYPE html>
<html>
<head>
	<title>CurrentCrypt</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default" style="background-color: #202328; color: white; border: 2px solid #202328; border-radius: 0px;">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
				<a href="/" class="navbar-brand"> CurrentCrypt </a>
			</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav"> 
						<li><a href='/search'>Search</a></li>
						<li><a href='/list'>Today's rates</a></li>
					</ul>
				</div>
		</div>
	</nav>