<% include ./partials/header %>
<!-- 
<p>Go to the search page:<a href="/search">here</a></p>
<p>Today's prices: <a href="/list"><button>View</button></a></p> -->
<style type="text/css">
	h1{
		margin: 10% 30%;
		text-align: center;
	}
	p{
		margin-top: 0% 30%;
		text-align: center;
	}
	.desc{
		text-align: center;
		/*padding-left: 32%;*/
	}
</style>

<div class="row"><h1>Welcome to CurrentCrypt!</h1></div>
<div class="desc">
	Click on <code>Today's Rates</code>, to view the the rates of 10 cryptocurriencies<br>
	Click on <code>Search</code>, to search a specific cryptocurrency
</div>


<% include ./partials/footer %>