<% include ./partials/header %>
<div class="row" style="padding: 3% 35%; text-align: center;">
	<h2 style="margin-bottom: 4%;">Cryptcurrency Search</h2>
	<form action="/results" method="GET">
		<input type="text" class="form-control" name="search" placeholder="Cryptocurrency Name">
		<br><input type="submit" class="block btn" style="background-color: #bfbfbf; display: block; width: 100%">
	</form>
</div>

<% include ./partials/footer %>