<% include ./partials/header %>

<div class="row" style="padding: 3% 40%; text-align: center;">
	<h2 style="margin-bottom: 10px;"><%= data['name'].toUpperCase() %></h2>
	<table style="width:100%; border: 1px solid black; ">
		<tr style="border: 1px solid gray">
			<td><strong>Rank</strong></td>
			<td><%= data['rank'] %></td> 
		</tr>
		<tr style="border: 1px solid gray">
			<td><strong>Symbol</strong></td> 
			<td><%= data['symbol'] %></td>
		</tr>
		<tr style="border: 1px solid gray">
			<td><strong>Price</strong></td>
			<td><%= data['quotes']['USD']['price'] %></td>
		</tr>
	</table>
</div>

<% include ./partials/footer %>